/*=========Reset=======*/
* {
  margin: 0;
  text-decoration: none;
  box-sizing: border-box; }

/*=========HEADER=======*/
.nav {
  background-color: #053949;
  z-index: 10; }

.logo {
  font-family: 'Russo One', sans-serif;
  letter-spacing: 1.5px;
  color: white;
  margin-left: 10px;
  text-decoration: none; }

/*=========MAIN=======*/
span {
  color: #1aa4c7 !important; }

.mainA {
  background: #ececec;
  background: linear-gradient(180deg, #ececec 0%, white 100%); }
  .mainA .mainA__titulo {
    color: rgba(19, 1, 1, 0.883);
    text-align: center;
    font-size: 45px;
    padding-top: 60px;
    font-family: 'Prompt', sans-serif;
    text-decoration: overline; }
  .mainA .mainA__subtitulo {
    color: rgba(19, 1, 1, 0.883);
    text-align: center;
    font-size: 40px;
    padding-top: 60px;
    font-family: 'Prompt', sans-serif; }
  .mainA .mainA__mapa {
    height: 350px;
    width: 100%;
    margin-bottom: 30px; }

/*--------FOOTER-----------*/
.footer {
  background-color: #053949;
  /* en esta clase se aplico el extend */ }
  .footer__navegation ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin-top: 20px; }
  .footer__navegation li {
    padding: 10px; }
  .footer__navegation a {
    text-decoration: none;
    color: white; }
  .footer__navegation :hover {
    color: #666464; }
  .footer__RRSS h3, .footer__contacto h3 {
    margin-top: 22px;
    font-size: 19px;
    color: white; }
  .footer__RRSS a, .footer__contacto a {
    color: white;
    text-decoration: none;
    padding: 10px; }
  .footer__contacto ul {
    list-style: none; }
  .footer__contacto li {
    color: white;
    padding: 10px; }
  .footer__texto p {
    color: white;
    margin-top: 250px;
    margin-left: 50px; }

.boton {
  color: white; }

.boton--color {
  background-color: blue; }

.boton--size {
  height: 10%; }

.boton--modeling {
  border-radius: 20px;
  font-weight: bold; }

.boton:hover {
  background-color: white;
  color: blue; }

.acercaDeNosotros {
  background-image: url(../Imagenes/imagenesMaxoil/MaxoilDistribuciones.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 400px;
  width: 100%; }

.cobertura__localidades h3 {
  font-size: 20px; }

.cobertura__localidades ul {
  list-style: none; }

/* la clase "titulo1" sera para los h1 de las paginas del sitio*/
.titulo1 {
  font-size: 58px;
  background-color: #053949;
  color: #39aca2;
  font-weight: bold; }

/* la clase "titulo2 y titulo 3" seran para los subtitulos de las paginas del sitio*/
.titulo2 {
  font-size: 24px;
  background-color: #39aca2;
  color: #03423d;
  font-weight: 100px; }

.titulo3 {
  font-size: 24px;
  background-color: #03423d;
  color: #5af0e3;
  font-weight: 100px; }

.carousel-inner {
  max-height: 29rem; }

.nosotros span {
  color: #39aca2; }

@media only screen and (max-width: 600px) {
  .acercaDeNosotros {
    display: none; }
  .nosotros {
    width: 100% !important; } }

.bg {
  background-image: url(../Imagenes/MaxoilDistribuciones.jpg);
  background-position: center center;
  background-size: cover; }

#headerForm {
  margin-bottom: 100px !important; }

.logo {
  font-family: 'Russo One', sans-serif;
  font-size: 2em;
  letter-spacing: 1.5px;
  color: white;
  margin-left: 10px;
  text-decoration: none; }

.logo:hover {
  color: #1ab7d3 !important;
  transition: all 300ms !important; }

.btn-wsp {
  position: fixed;
  width: 80px;
  line-height: 80px;
  bottom: 40px;
  right: 40px;
  background-color: #0df053;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 50px;
  box-shadow: 0px 1px 9px black;
  z-index: 100; }

.btn-wsp:hover {
  text-decoration: none;
  color: #0df053;
  background-color: #fff; }

.icon {
  color: white;
  margin: 5px !important; }

.icon:hover {
  color: #818181 !important; }

.bg {
  background-image: url(../Imagenes/imagenesMaxoil/MaxoilDistribuciones.jpg);
  background-position: center center;
  background-size: cover; }

#news_letter {
  background-color: #127d81;
  padding-bottom: 30px;
  padding-top: 30px; }
  #news_letter .news_letter_form {
    width: 100%; }
  #news_letter .form-control {
    height: 3rem; }
  #news_letter .btn:hover {
    background-color: #d9e2e9;
    color: rgba(23, 89, 109, 0.883); }

#card_container .card {
  margin: 50px;
  transition: transform 500ms ease; }

#card_container .card:hover {
  transform: scale(1.05); }

#form_contacto .form-control {
  height: 3rem; }

#form_contacto .area_texto {
  height: 8rem !important; }

#form_contacto .btn {
  width: 8rem; }
